language: go
go_import_path: github.com/chanzuckerberg/blessclient
sudo: false
env:
  - CGO_ENABLED=1
stages:
  - test
  - publish-osx
  - publish-linux
matrix:
  include:
    - os: linux
      stage: test
      go: 1.12.x
      script:
        - make test
        - bash <(curl -s https://codecov.io/bash)
    - os: osx
      stage: test
      go: 1.12.x
      script:
        - make test
    - os: linux
      stage: test
      go: 1.12.x
      script:
        - npm install -g snyk
        - bash _bin/snyk.sh
    - os: linux
      stage: test
      sudo: true
      go: 1.12.x
      script:
        - sudo make setup
        - make lint

    # Publish
    - os: osx
      if: tag =~ ^v
      stage: publish-osx
      go: 1.12.x
      secure: "KV2+lOfog0Qk2FUhwvg40J/cZFtzr/v3cM4Wdrf2FwOSTNdjc0/v2iuhCtD1GnIqUvbkCVziSrtF4qhDvWwKyZ4wzdZcTMV7dJeAFGIZJxQzyKpcnHEJBpFISPR1yFNJ2aD1Qt8pA221SUfHqAz/SEv1TcYA6kEjadycZqG7fQbQaXdqoJTevRqGAZUKJReRyxSBCbuP25BWbn9eo60vCYZY9S1Qnzy+pkppeZwaBpLGNmFZoOrYsXn+YY+MN50LJmmeV76u3kYJTnH7JcO1UfcWzN7EZABdMaWiptFbmwKHiywnBcQ+/oK9mgWvkcXgZKcodErBu5BPTtLcYT0AmveFgLE+U3MqKuphyXYUaVIpKpVNchzOdacHLyFFdvZ7DamX8pEVHvpu+jvaiBX4YX1xDtm12n+fX0wKF+ENgseqIxDDzDZ6w5KxOqVUU3xgitSIiQ9Y5w04aSH6MRtWXAuCcUfsg/ZZ3497PXSt4SVdQWGAAvdi+fAjQ84+fA+pFlKF+xcT1fgleh32ss6JLhes2Cxp7SCTSbRKAnSidhWBMFXgYX6mrY5aOyA00wdlEevNrLfXXiSLtEXGkwbJmC5v1FsOcZnsxfaUeTNSTkeuRWSBlAOkxETGkR9QQmUOhHtQChOLpIVYh3JQezc8kWznPF++VIeIa62VKMSf/RY="
      script:
        - make publish-darwin
    - os: osx
      if: tag =~ /dirty$/
      stage: publish-prerelease-osx
      go: 1.12.x
      secure: "KV2+lOfog0Qk2FUhwvg40J/cZFtzr/v3cM4Wdrf2FwOSTNdjc0/v2iuhCtD1GnIqUvbkCVziSrtF4qhDvWwKyZ4wzdZcTMV7dJeAFGIZJxQzyKpcnHEJBpFISPR1yFNJ2aD1Qt8pA221SUfHqAz/SEv1TcYA6kEjadycZqG7fQbQaXdqoJTevRqGAZUKJReRyxSBCbuP25BWbn9eo60vCYZY9S1Qnzy+pkppeZwaBpLGNmFZoOrYsXn+YY+MN50LJmmeV76u3kYJTnH7JcO1UfcWzN7EZABdMaWiptFbmwKHiywnBcQ+/oK9mgWvkcXgZKcodErBu5BPTtLcYT0AmveFgLE+U3MqKuphyXYUaVIpKpVNchzOdacHLyFFdvZ7DamX8pEVHvpu+jvaiBX4YX1xDtm12n+fX0wKF+ENgseqIxDDzDZ6w5KxOqVUU3xgitSIiQ9Y5w04aSH6MRtWXAuCcUfsg/ZZ3497PXSt4SVdQWGAAvdi+fAjQ84+fA+pFlKF+xcT1fgleh32ss6JLhes2Cxp7SCTSbRKAnSidhWBMFXgYX6mrY5aOyA00wdlEevNrLfXXiSLtEXGkwbJmC5v1FsOcZnsxfaUeTNSTkeuRWSBlAOkxETGkR9QQmUOhHtQChOLpIVYh3JQezc8kWznPF++VIeIa62VKMSf/RY="
      script:
        - make publish-prerelease-darwin
    - os: linux
      if: tag =~ /^v\d+\.\d+\.\d+$/
      stage: publish-linux
      sudo: true
      go: 1.12.x
      secure: "KV2+lOfog0Qk2FUhwvg40J/cZFtzr/v3cM4Wdrf2FwOSTNdjc0/v2iuhCtD1GnIqUvbkCVziSrtF4qhDvWwKyZ4wzdZcTMV7dJeAFGIZJxQzyKpcnHEJBpFISPR1yFNJ2aD1Qt8pA221SUfHqAz/SEv1TcYA6kEjadycZqG7fQbQaXdqoJTevRqGAZUKJReRyxSBCbuP25BWbn9eo60vCYZY9S1Qnzy+pkppeZwaBpLGNmFZoOrYsXn+YY+MN50LJmmeV76u3kYJTnH7JcO1UfcWzN7EZABdMaWiptFbmwKHiywnBcQ+/oK9mgWvkcXgZKcodErBu5BPTtLcYT0AmveFgLE+U3MqKuphyXYUaVIpKpVNchzOdacHLyFFdvZ7DamX8pEVHvpu+jvaiBX4YX1xDtm12n+fX0wKF+ENgseqIxDDzDZ6w5KxOqVUU3xgitSIiQ9Y5w04aSH6MRtWXAuCcUfsg/ZZ3497PXSt4SVdQWGAAvdi+fAjQ84+fA+pFlKF+xcT1fgleh32ss6JLhes2Cxp7SCTSbRKAnSidhWBMFXgYX6mrY5aOyA00wdlEevNrLfXXiSLtEXGkwbJmC5v1FsOcZnsxfaUeTNSTkeuRWSBlAOkxETGkR9QQmUOhHtQChOLpIVYh3JQezc8kWznPF++VIeIa62VKMSf/RY="
      script:
        - sudo apt update -q
        - sudo apt install -yq libusb-dev libusb-1.0.0-dev
        - make publish-linux
